// body {
    font-family: sans-serif;
    background: black;
    color: white;
    overflow: hidden;
}

// p {
    animation-name: font;
    animation-duration: 4s;
    animation-iteration-count: infinite
}

// input {
    margin-top: 1.2em;
}

// .input {
    margin-left: 1.2em;
}

// @keyframes font {
  0%   {font-size: 1em; padding-top: 0em; transform:rotate(0deg);}
  25%  {font-size: 2em; padding-top: 1em; transform:rotate(90deg);}
  50%  {font-size: 1em; padding-top: 0em; transform:rotate(180deg);}
  75%  {font-size: 2em; padding-top: 2em; transform:rotate(270deg);}
  100% {font-size: 1em; padding-top: 0em; transform:rotate(360deg);}
}