<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: nav"></nav>

    <form method="post">
        <span class="input">Cheese Name: <input type="text" name="cheeseName" /></span>
        <br />
        <span class="input">Cheese Description: <input type="text" name="cheeseDesc" /></span>
        <br />
        <span class="input"><input type="submit" value="Add Cheese" /></span>
    </form>
</body>
</html>